<div class="container" ng-controller="MenuCtrl">
   <!-- Main content -->
   <section class="content">
      <div class="row">
         <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
               <div class="panel-heading">
                  <h3 style="margin:0px;">Add Offers</h3>
                  <div class="direct-chat-text box-primary" ng-if="success==true">
                     You better believe it!
                  </div>
               </div>
               <!-- /.box-header -->
               <!-- form start -->
               <form role="form" ng-submit="createMenu()">
                  <div class="box-body">
                     <div class="form-group col-xs-3 ">
                        <label>Select Category</label>
                        <select class="form-control"  ng-model="offer.cat" required>
                             <option ng-selected="true">Select One </option>
                           <option value="1">Mens</option>
                           <option value="2"> option 2</option>
                           <option value="2" >option 3</option>
                           <option value="2" >option 4</option>
                           <option>option 5</option>
                        </select>
                     </div>
                     <div class="form-group col-xs-3">
                        <label>Select Sub Category</label>
                        <select class="form-control" ng-model="offer.subCat" required>
                             <option ng-selected="true">Select One</option>
                           <option value="2">Tshirt</option>
                           <option>option 2</option>
                           <option>option 3</option>
                           <option>option 4</option>
                           <option>option 5</option>
                        </select>
                     </div>
                     <div class="form-group col-xs-6">
                        <label for="itemName">HeadLine</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" maxlength="50" ng-model="offer.name" placeholder="50% Cashback on Selected brands" required>
                     </div>
                     <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" rows="3" placeholder="Enter Description ..." ng-model="offer.desc"></textarea>
                     </div>
                     <div class="form-group col-xs-6">
                        <label>From Date:</label>
                        <div class="input-group"
                           moment-picker="offer.fromDate"
                           format="YYYY-MM-DD HH:mm">
                           <span class="input-group-addon">
                           <i class="fa fa-calendar"></i>
                           </span>
                           <input class="form-control"
                              placeholder="Select a date"
                              ng-model="offer.fromDate"
                              ng-model-options="{ updateOn: 'blur' }">
                        </div>
                        <!-- /.input group -->
                     </div>
                     <div class="form-group col-xs-6">
                        <label>Till Date:</label>
                        <div class="input-group"
                           moment-picker="offer.tillDate"
                           format="YYYY-MM-DD HH:mm">
                           <span class="input-group-addon">
                           <i class="fa fa-calendar"></i>
                           </span>
                           <input class="form-control"
                              placeholder="Select a date"
                              ng-model="offer.tillDate"
                              ng-model-options="{ updateOn: 'blur' }">
                        </div>
                        <!-- /.input group -->
                     </div>
                     <div class="form-group">
                        <label for="itemName">Banner</label>
                        <div>
                           <input id="inputImage2" 
                              type="file" 
                              accept="image/*" 
                              image="image2" 
                              resize-max-height="300"
                              resize-max-width="250"
                              resize-quality="0.7" 
                              ng-model="image"/>
                           <img class="img-responsive" style="padding:10px;margin-left:55px" ng-show="image2" ng-src="{{image2.resized.dataURL}}"/>
                        </div>
                     </div>
                     <!--  <div class="form-group" ng-hide="">
                        <label for="exampleInputFile">File input</label>
                        <input type="file" id="exampleInputFile">
                        </div>-->
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           Is It a Happy hour?
                           <div class="col-xs-2">
                              Yes  <input type="radio" name="optionsRadios" id="optionsRadios1" ng-click="happyHrs(true)" value="option1" checked="">
                           </div>
                           <div class="col-xs-2">
                              No  <input type="radio" name="optionsRadios" id="optionsRadios1" ng-click="happyHrs(false)" value="option1" checked="">
                           </div>
                        </div>
                        <div class="panel-body" ng-if="showHappy==true">
                           <div class="form-group col-xs-3">
                              <label for="sel1">Select Happy Hour Days</label>
                              <select class="form-control" id="sel1" ng-model="offer.happyhour.baseday" ng-change="onCategoryChange(offer.happyhour.baseday) ">
                                 <option ng-selected="true">Select One Day</option>
                                 <option    value="2">EveryDay</option>
                                 <option value="3">Every Weekend</option>
                                 <option value="4" >OtherDays</option>
                              </select>
                           </div>
                           <div class="form-group col-xs-2">
                              <label>Start time </label>
                              <div class="input-group"
                                 moment-picker="offer.happyhour.starttime"
                                 format="HH:mm">
                                 <span class="input-group-addon">
                                 <i class="fa fa-clock-o"></i>
                                 </span>
                                 <input class="form-control"
                                    placeholder="Select a time"
                                    ng-model="offer.happyhour.starttime"
                                    ng-model-options="{ updateOn: 'blur' }">
                              </div>
                           </div>
                           <div class="form-group col-xs-2">
                              <label>End time </label>
                              <div class="input-group"
                                 moment-picker="offer.happyhour.endtime"
                                 format="HH:mm">
                                 <span class="input-group-addon">
                                 <i class="fa fa-clock-o"></i>
                                 </span>
                                 <input class="form-control"
                                    placeholder="Select a time"
                                    ng-model="offer.happyhour.endtime"
                                    ng-model-options="{ updateOn: 'blur' }">
                              </div>
                           </div>
                           <div class="form-group col-xs-2">
                              <label>Start Date </label>
                              <div class="input-group"
                                 moment-picker="offer.happyhour.startdate"
                                 format="YYYY-MM-DD">
                                 <span class="input-group-addon">
                                  <i class="fa fa-calendar"></i>
                                 </span>
                                 <input class="form-control"
                                    placeholder="Select a date"
                                    ng-model="offer.happyhour.startdate"
                                    ng-model-options="{ updateOn: 'blur' }">
                              </div>
                           </div>
                           <div class="form-group col-xs-2">
                              <label>End Date </label>
                              <div class="input-group"
                                 moment-picker="offer.happyhour.enddate"
                                 format="YYYY-MM-DD">
                                 <span class="input-group-addon">
                                  <i class="fa fa-calendar"></i>
                                 </span>
                                 <input class="form-control"
                                    placeholder="Select a date"
                                    ng-model="offer.happyhour.enddate"
                                    ng-model-options="{ updateOn: 'blur' }">
                              </div>
                           </div>
                           <div class="form-group" ng-if="showDays==true">
                              <label>Select Days For Happy hours </label>
                              <div class="form-group input-group">
                                 <label class="checkbox-inline"><input type="checkbox"  ng-model="offer.happyhour.days.monday" value="">Monday</label>
                                 <label class="checkbox-inline"><input type="checkbox" ng-model="offer.happyhour.days.tuesday"  value="">Tuesday</label>
                                 <label class="checkbox-inline"><input type="checkbox" ng-model="offer.happyhour.days.wednesday" value="">Wednesday</label>
                                 <label class="checkbox-inline"><input type="checkbox" ng-model="offer.happyhour.days.thursday" value="">Thursday</label>
                                 <label class="checkbox-inline"><input type="checkbox" ng-model="offer.happyhour.days.friday" value="">Friday</label>
                                 <label class="checkbox-inline"><input type="checkbox" ng-model="offer.happyhour.days.saturday" value="">Saturday</label>
                                 <label class="checkbox-inline"><input type="checkbox" ng-model="offer.happyhour.days.sunday" value="">Sunday</label>
                              </div>
                           </div>
                           
                        </div>
                     </div>
                  </div>
                  <div class="panel-footer">
                     <button type="submit" class="btn btn-primary">Submit</button>
                     <div class="form-group col-xs-10">
                              <div ng-switch="offer.happyhour.baseday">
                                 <div ng-switch-when="2">
                                    <p class="text-red" > <span class="badge bg-red"> Happy hour's  Starts Every Day</span>  <span class="badge bg-aqua">{{offer.happyhour.starttime | myFilter }}  </span> to
                                    
                                     <span class="badge bg-red">
                                        {{offer.happyhour.endtime | myFilter }}  
                                        </span>
                                <span class="badge bg-green" >For Time period Of </span>
                                        <span class="badge bg-green"> {{offer.happyhour.startdate | date : "fullDate" }} </span>

                                         <span class="badge bg-blue"> {{offer.happyhour.enddate | date : "fullDate" }} </span>
                                        
                                         </p>
                                 </div>
                                 <div ng-switch="offer.happyhour.baseday">
                                 <div ng-switch-when="3">
                                    <p class="text-red" > <span class="badge bg-red"> Happy hour's  Starts Every Weekend</span>  <span class="badge bg-aqua">{{offer.happyhour.starttime | myFilter }}  </span> to
                                    
                                     <span class="badge bg-red">
                                        {{offer.happyhour.endtime | myFilter }}  
                                        </span>
                                <span class="badge bg-green" >For Time period Of </span>
                                        <span class="badge bg-green"> {{offer.happyhour.startdate | date : "fullDate" }} </span>

                                         <span class="badge bg-blue"> {{offer.happyhour.enddate | date : "fullDate" }} </span>
                                        
                                         </p>
                                 </div>

                              </div>
                           </div>
                  </div>
               </form>
            </div>
            <!-- /.box -->
         </div>

   

         <div class="col-md-6">
            <div class="box box-primary">
               <div class="box-header with-border">
                  <h3 class="box-title">Menu Items</h3>
                  <div class="box-tools">
                     <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control pull-right" ng-model="searchKeyword"  placeholder="Search">
                     </div>
                  </div>
               </div>
               <!-- /.box-header -->
               <div class="box-body">
                  <table class="table  table-hover">
                     <tbody>
                        <tr>
                           <th>Item Name</th>
                           <th>Price (Rs.)</th>
                           <th >Description   </th>
                        </tr>
                        <tr ng-repeat="menuItem in menus | filter: searchKeyword ">
                           <td>{{menuItem.name | uppercase}}</td>
                           <td>
                              {{menuItem.price}}
                           </td>
                           <td>{{menuItem.desc | limitTo: 15 }}..</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <!-- /.box-body -->
               <div class="box-footer clearfix">
                  <ul class="pagination pagination-sm no-margin pull-right">
                     <li><a href="#">«</a></li>
                     <li><a href="#">1</a></li>
                     <li><a href="#">2</a></li>
                     <li><a href="#">3</a></li>
                     <li><a href="#">»</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <!-- /.col -->
      </div>
      <!-- /.row -->
      <div class="row">
         <div class="col-xs-12">
            <div class="box">
               <div class="box-header">
                  <h3 class="box-title">Responsive Hover Table</h3>
                  <div class="box-tools">
                     <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
                        <div class="input-group-btn">
                           <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- /.box-header -->
               <div class="box-body table-responsive no-padding">
                  <table class="table table-hover">
                     <tbody>
                        <tr>
                           <th>ID</th>
                           <th>User</th>
                           <th>Date</th>
                           <th>Status</th>
                           <th>Reason</th>
                        </tr>
                        <tr>
                           <td>183</td>
                           <td>John Doe</td>
                           <td>11-7-2014</td>
                           <td><span class="label label-success">Approved</span></td>
                           <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                        </tr>
                        <tr>
                           <td>219</td>
                           <td>Alexander Pierce</td>
                           <td>11-7-2014</td>
                           <td><span class="label label-warning">Pending</span></td>
                           <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                        </tr>
                        <tr>
                           <td>657</td>
                           <td>Bob Doe</td>
                           <td>11-7-2014</td>
                           <td><span class="label label-primary">Approved</span></td>
                           <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                        </tr>
                        <tr>
                           <td>175</td>
                           <td>Mike Doe</td>
                           <td>11-7-2014</td>
                           <td><span class="label label-danger">Denied</span></td>
                           <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <!-- /.box-body -->
            </div>
            <!-- /.box -->
         </div>
      </div>
   </section>
   <!-- /.content -->
</div>
