<div class="wrapper" style="background-image: 
url('https://s-media-cache-ak0.pinimg.com/originals/9f/3a/71/9f3a71677cf44c7c5601b688155cb90d.jpg')" ng-controller="HomeCtrl">
   
   <div class="container-wrapper container" style="min-height: 916px;margin-top: 122px;">
      <div class="row">

        <div class="col-md-3">

          <!-- /.box -->

          <!-- About Me Box -->
          <div class="box box-primary">

            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src="/img/user4-128x128.jpg" alt="User profile picture">

            </div>
            <div class="box-header with-border">
              <h3 class="box-title text-center">ABC Stores Me</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa  fa-envelope margin-r-5"></i> Address</strong>

              <address>
  Phoenix Marketcity.<br>
  CMH Road,Opposite to ICICI Bank<br>
  Stage 1, Indiranagar,<br>
  <abbr title="Phone">PH:</abbr> (123) 456-7890
</address>


              <hr>

               <p>
                 <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong> Bangalore, Karnataka </p>

             <p>
                 <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong> Malibu, California </p>

              <hr>

           

            
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>

<div class="col-md-6">
<div class="box box-danger">
            <div class="box-header">
              <h3 class="box-title">{{username}}
              <div class="col-md-3 col-sm-4"><i class="fa fa-fw fa-user"></i> </div>
              </h3>
            </div>
            <div class="box-body">
            
              <a href="#/create-menu" class="btn btn-app">
                <i class="fa fa-edit"></i> ADD Menu
              </a>
              <a class="btn btn-app">
                <i class="fa fa-trash"></i> Delete Order
              </a>
              <a  href="#/orders" class="btn btn-app">
                <i class="fa fa-repeat"></i> view orders
              </a>
              <a class="btn btn-app">
                <i class="fa fa-pause"></i> Pause
              </a>
              <a class="btn btn-app">
                <i class="fa fa-save"></i> Save
              </a>
              <a class="btn btn-app">
               
                <i class="fa fa-bullhorn"></i> Notifications
              </a>
              <a class="btn btn-app">
                <span class="badge bg-green">300</span>
                <i class="fa fa-barcode"></i> Products
              </a>
              <a class="btn btn-app">
                <span class="badge bg-purple">891</span>
                <i class="fa fa-users"></i> Users
              </a>
              <a class="btn btn-app">
                <span class="badge bg-teal">67</span>
                <i class="fa fa-inbox"></i> Orders
              </a>
              <a class="btn btn-app">
                <span class="badge bg-aqua">12</span>
                <i class="fa fa-envelope"></i> Inbox
              </a>
              <a class="btn btn-app">
                <span class="badge bg-red">531</span>
                <i class="fa fa-heart-o"></i> Likes
              </a>
            </div>
            <!-- /.box-body -->
          </div>
</div>


        <div class="col-lg-3 col-xs-8">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>150</h3>

              <p>New Orders</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>53</sup></h3>

              <p>Category</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>44</h3>

              <p>Sub Category</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>65</h3>

              <p>Menus</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>

   </div>
</div>